.clearfix {
    zoom: 1
}

.clearfix:after {
    display: block;
    content: "";
    clear: both
}

.page-nav .nav-wrap a {
    color: #fff
}

.page-nav .nav-wrap .brand {
    background: url("../img/index/icons/logo_nav@2x.png") no-repeat center;
    background-size: 118px 19px;
    width: 118px
}

.page-nav .operaton ul li .icon-down {
    background: url("../img/index/icons/icon_nav_dropdown@1x.png") no-repeat
}

.solution-layout {
    width: 100%;
    min-width: 1200px;
    font-family: 'PingFangSC-Regular', 'Helvetica Neue', 'Helvetica'
}

.billboard {
    height: 750px;
    position: relative;
    color: #464749;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/greenGreenest/lvbao.png")
}

.billboard .shell {
    height: 750px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.billboard .intell-content {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

.billboard .intell-pro {
    padding-left: 80px
}

.billboard .intell-pro p {
    font-weight: bold;
    font-size: 24px;
    height: 40px;
    line-height: 40px
}

.intelligent-content {
    width: 100%;
    padding-top: 80px;
    color: #464749
}

.intelligent-content .VPU-news {
    width: 1200px;
    margin: 0 auto 50px;
    text-align: center
}

.intelligent-content .VPU-news h1 {
    font-size: 32px;
    font-weight: bold;
    height: 125px;
    line-height: 125px
}

.intelligent-content .VPU-news p {
    line-height: 30px;
    font-size: 15px
}

.vpu {
    width: 70%;
    min-width: 1200px;
    margin: 0 auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 98.32%;
    background-position: center;
    background-image: url("../img/greenGreenest/zhihuigongchang.png")
}

.content {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    color: #464749
}

.content img {
    display: block
}

.content h1 {
    font-size: 24px
}

.content p {
    font-size: 15px;
    line-height: 25px
}

.content .space {
    font-family: "Avenir Next";
    font-weight: lighter;
    font-size: 90px;
    line-height: 100px
}

.content span {
    font-weight: normal;
    font-size: 24px;
    margin-right: 15px
}

.face-content {
    margin: 50px 0
}

.face-content .face-pro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-column-align: center;
    justify-items: center;
    height: 100%
}

.face-content img {
    display: block;
    width: 50%;
    height: 700px
}

.face-content .face-mes {
    width: 34%;
    margin: auto;
    white-space: normal;
    text-align: left
}

.face-content .face-mes .face-desc {
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-column-align: center;
    justify-items: center
}

.face-content .face-mes h1 {
    margin-bottom: 28px
}

.face-content .face-mes p span {
    font-size: 24px
}

.serve-security {
    width: 100%
}

.serve-security .security-cont {
    width: 100%;
    height: 530px;
    position: relative;
    color: #464749;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/intelligent/ai_camera@1x.jpg")
}

.serve-security .security-pro {
    width: 1200px;
    margin: 0 auto;
    height: 100%
}

.serve-security .security-pro .security-mes {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.serve-security .security-pro h1 {
    width: 50%;
    margin-left: 50%;
    font-size: 24px
}

.intelligent-content,
.face-content,
.learn-more {
    min-width: 1200px
}

.learn-more {
    width: 100%;
    margin-bottom: 50px;
    color: #464749
}

.learn-more .learn-cont {
    position: relative;
    height: 480px;
    background-color: #eef2f3
}

.learn-more img {
    margin-left: 610px;
}

.learn-more .learn-mes {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #464749
}

.learn-more .learn-mes .learn-pro {
    margin-left: 100px
}

.learn-more .learn-mes .learn-pro p {
    margin-bottom: 10px
}

.learn-more .learn-mes h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px
}

.learn-more .learn-mes p {
    font-size: 20px
}