<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=1300">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh-cn">
    <meta property="og:title" content="环保物联网设备的践行者">
    <meta property="og:description" content="智慧物联，无处不在，物联网技术改变生活。">
    <meta name="keywords" content="危废处置,危废,废油处置,浙江绿保,浙江蓝景">
    <meta name="description" content="连接数字与物理世界，用前沿物联网技术服务智慧消防产业升级。浙江彩渱的物联网设备服务已遍及全国十余个城市">
    <title>彩渱高科官网-环保大数据的践行者</title>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link href="css/common.0ab349fb.css" rel="stylesheet">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/modernizr-custom.js"></script>
    <script src="lib/vue.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0ef08a5e4a6e84faf0444a38c0ab815f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" href="css/newslist.e4a701c7.css">
    <!--[if lte IE 8]>
    <script src="js/ie6-warning.621f8fb1.js"></script><![endif]-->
</head>

<body>
    <nav class="page-nav">
        <div class="nav-wrap clearfix">
            <div class="menu"><a class="brand" href="./index.html"></a></div>
            <div class="operaton">
                <ul>
                    <li class="resolve">
                        <a href="javascript:void(0)">服务与解决方案<i class="icon-down"></i></a>
                        <div class="selec-det resolve-det clearfix">
                            <div class="selec-con clearfix">
                                <a href="./industry.html#machinery">机械行业一体化</a>
                                <a href="./industry.html#autoRepair">汽修行业一体化</a>
                                <a href="./industry.html#medical">医疗行业一体化</a>
                                <a href="./industry.html#poisonBurst">易毒易爆一体化</a>
                                <a href="./industry.html#plastic">塑料行业一体化</a>
                            </div>
                        </div>
                    </li>
                    <li class="resolve">
                        <a href="javascript:void(0)">核心竞争力<i class="icon-down"></i></a>
                        <div class="selec-det resolve-det clearfix">
                            <div class="selec-con clearfix">
                                <a href="./product.html#product1">催化剂技术</a>
                                <a href="./product.html#product2">膜分离技术</a>
                                <a href="./product.html#product3">废油装置小型化</a>
                                <a href="./product.html#product4">数据分析/数据挖掘能力</a>
                                <a href="./product.html#product5">危废·建筑艺术</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="./case.html">商业案例</a></li>
                    <li class="news">
                        <a href="./news.html">新闻中心</a>
                    </li>
                    <li><a href="./aboutus.html">发现我们</a></li>
                    <li><a href="./product.html#prod_order">咨询</a></li>
                </ul>
                <!-- <a class="user" href="./login.html">
                    <span>
                        <img id="userImg" style="width:20px;margin-top:25px;" src="webfonts/yonghu.png">
                    </span>
                </a> -->
            </div>
        </div>
    </nav>
    <div class="news-title">
        <h3>企业动态</h3>
    </div>
    <section class="base_newslist">
        <div class="content" id="app">
            <table id="pageTotal">
                <tbody>
                    <tr class="news_content" style="display: block;" v-for="item of newsData" :key="item.news_id">
                        <td>
                            <a :href="'./newInfo.html?id=' + item.news_id" target="_blank">
                                <img :src="item.pic_url">
                                <div class="describe">
                                    <div class="sub_title">{{ item.title }}</div>
                                    <div class="news_date">{{ item.create_time }}
                                        <span v-show="item.is_top === 1" class="newsStick">置顶</span>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page-list" v-if="pages != [] && last_page != 1">
                <span id="barcon">
                    <a href="javascript:void(0);" @click="lastPage">&lt;</a>
                    <a href="javascript:void(0)" v-for="item in pages" @click="jumpPage(item)">
                        <div>{{ item }}</div>
                    </a>
                    <a href="javascript:void(0);" @click="nextPage">&gt;</a>
                </span>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="map">
            <div class="con clearfix">
                <div class="left clearfix">
                    <dl>
                        <dt>服务与解决方案</dt>
                        <dd><a href="./industry.html#machinery">机械行业一体化</a></dd>
                        <dd><a href="./industry.html#autoRepair">汽修行业一体化</a></dd>
                        <dd><a href="./industry.html#medical">医疗行业一体化</a></dd>
                        <dd><a href="./industry.html#poisonBurst">易毒易爆一体化</a></dd>
                        <dd><a href="./industry.html#plastic">塑料行业一体化</a></dd>
                    </dl>
                    <dl>
                        <dt>核心竞争力</dt>
                        <dd><a href="./product.html#product1">催化剂技术</a></dd>
                        <dd><a href="./product.html#product2">膜分离技术</a></dd>
                        <dd><a href="./product.html#product3">废油装置小型化</a></dd>
                        <dd><a href="./product.html#product4">数据分析/数据挖掘能力</a></dd>
                        <dd><a href="./product.html#product5">危废·建筑艺术</a></dd>
                    </dl>
                    <dl>
                        <dt>商业案例</dt>
                        <dd><a href="./case.html">商业案例</a></dd>
                    </dl>
                    <dl>
                        <dt>发现我们</dt>
                        <dd><a href="./aboutus.html">发现我们</a></dd>
                        <dd><a href="./news.html">新闻中心</a></dd>
                        <dd><a href="./product.html#prod_order">加入我们</a></dd>
                    </dl>
                    <dl>
                        <dt>了解更多</dt>
                        <dd><a href="./aboutus.html">了解更多</a></dd>
                        <dd><a target="_blank" href="./industrial.html">彩渱产业链</a></dd>
                        <dd><a target="_blank" href="./ecological.html">彩渱生态</a></dd>
                        <dd><a target="_blank" href="./team.html">我们的团队</a></dd>
                    </dl>
                </div>
                <div class="footer-link clearfix">
                    <span class="sensoro-icon" _src="img/index/icons/logo_bottom@2x.png"></span>
                    <ul class="clearfix">
                        <li>
                            <a class="tengxun" href="#" target="_blank">
                                <img src="img/index/icons/tengxunshipin@2x.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="weibo" href="#" target="_blank">
                                <img src="img/index/icons/weibo@2x.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="wechat" href="#">
                                <img src="img/index/icons/wechat@2x.png">
                                <div class="sensoro-chat">
                                    <!-- <img _src="img/index/icons/erweima.jpg"> -->
                                    <!--i-->
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="con">
            <div class="vct">
                <div class="inner">
                    <div class="mark">
                        <p>Copyright ©<span class="copyrightyear"> 2018</span>
                            <script>
                                $('.copyrightyear').text(' ' + new Date().getFullYear())
                            </script>
                            RAINBOW Co.,Ltd.保留所有权利。RAINBOW 是苹果公司的注册商标。<a class="reg" href="#" target="_blank"
                                style="color: inherit;">京CP备12345678号</a>
                            <span>版权所有:浙江彩渱高科技有限公司</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/common.c173e257.js"></script><!-- Global site tag (gtag.js) - Google Analytics-->
    <!--script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-99737932-1')-->
    <!--script.-->
    <!--  window.dataLayer = window.dataLayer || [];-->
    <!--  function gtag() {-->
    <!--      dataLayer.push(arguments);-->
    <!--  }-->
    <!--  gtag('js', new Date());-->
    <!--  gtag('config', 'UA-99737932-1');-->
    <script src="config.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                api: api + '/api/news/getList',
                newsData: [],
                current_page: 1,
                last_page: 0,
                per_page: '',
                total: '',
                pages: []
            },
            mounted: function () {
                var that = this;
                this.getDatas(this.current_page)
            },
            methods: {
                getDatas: function (current_page) {
                    var that = this;
                    this.pages = [];
                    $.ajax({
                        url: that.api,
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            size: 6,
                            page: current_page
                        },
                        success: function (data) {
                            that.newsData = data.data.data
                            that.current_page = data.data.current_page;
                            that.last_page = data.data.last_page;
                            that.per_page = data.data.per_page;
                            that.total = data.data.total;
                            for (var i = 0; i < data.data.last_page; i++) {
                                that.pages.push(i + 1)
                            }
                            $("html, body").animate({ scrollTop: 0 }, 400);
                            return false;//不要这句会有点卡顿
                        },
                        error: function () {
                            console.log('error')
                        }
                    });
                },
                lastPage: function () {
                    var that = this;
                    var current_page = parseInt(that.current_page) - 1;
                    this.getDatas(current_page)
                },
                nextPage: function () {
                    var that = this;
                    var current_page = parseInt(this.current_page);
                    if (current_page == this.last_page) {
                        return false;
                    }
                    var next_page = parseInt(that.current_page) + 1;
                    this.getDatas(next_page);
                },
                jumpPage: function (pageNumber) {
                    this.getDatas(pageNumber)
                }
            }
        });
    </script>
    <script src="./js/noIe.js"></script>
</body>

</html>